<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style type="text/css">
		/**
		 * The CSS shown here will not be introduced in the Quickstart guide, but shows
		 * how you can use CSS to style your Element's container.
		 */
		.StripeElement {
		  box-sizing: border-box;
		  height: 40px;
		  padding: 10px 12px;
		  border: 1px solid transparent;
		  border-radius: 4px;
		  background-color: white;
		  box-shadow: 0 1px 3px 0 #e6ebf1;
		  -webkit-transition: box-shadow 150ms ease;
		  transition: box-shadow 150ms ease;
		}

		.StripeElement--focus {
		  box-shadow: 0 1px 3px 0 #cfd7df;
		}

		.StripeElement--invalid {
		  border-color: #fa755a;
		}

		.StripeElement--webkit-autofill {
		  background-color: #fefde5 !important;
		}
	</style>
     <title>Payment Gateway</title>
  </head>
  <body>
  {% include 'accounts/navbar.html' %}
  	<div class="jumbotron jumbotron-fluid text-center bg-info text-white py-4" style="height:100vh;">
		<h1 style="font-style:italic;">Payment Gateway</h1>
		<div class="container my-4">
			<div class="card card-body bg-light">
				<script src="https://js.stripe.com/v3/"></script>
				<form action="{% url 'charge' %}" method="post" id="payment-form">
					{% csrf_token %}
					<div class="form-field-6 my-4">
						<input required type="text" class="form-control" name="nickname" placeholder="Nick Name">
					</div>

					<div class="form-field-6 my-4">
						<input required type="text" class="form-control" name="email" placeholder="Email">
					</div>

					<div class="form-field-12 my-4">
						<input type="text" class="form-control" name="amount" placeholder="Enter Amount in Rs" required>
					</div>

					<div class="form-field-12 my-4">
						<input required type="text" class="form-control" name="description" placeholder="Description">
					</div>

					<div class="form-group">
						<input type="text" class="form-control" name="line1" placeholder="Address : 1234 Main St">
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
						  <input type="text" class="form-control" name="city" placeholder="City">
						</div>

						<div class="form-group col-md-4">
						  <select name="state" class="form-control">
							  <option selected>State</option>
							  <option>AP</option>
							  <option>TS</option>
						  </select>
						</div>

						<div class="form-group col-md-2">
						  <input type="text" class="form-control" name="postal_code" placeholder="Postal Code">
						</div>
					</div>

					  <div class="form-row">
						<div id="card-element" class="form-control">
						  <!-- A Stripe Element will be inserted here. -->
						</div>

						<!-- Used to display form errors. -->
						<div id="card-errors" role="alert"></div>
					  </div>
					<input  class="btn btn-primary my-4"  type="submit" value="Submit Payment" name="">
				</form>
			</div>
		</div>
	  </div>
	<script>
		// Create a Stripe client.
		var stripe = Stripe('pk_test_51HB1wGGbmEw5gYBcu0KNHQ0jigcEGS79MGUb92ZEaMYpI6nEPLFknTRnsdQGeOw1v79nygFFaerpW3ldyg9ZlSoG00SHgfarhr');

		// Create an instance of Elements.
		var elements = stripe.elements();

		// Custom styling can be passed to options when creating an Element.
		// (Note that this demo uses a wider set of styles than the guide below.)
		var style = {
		  base: {
			color: '#32325d',
			fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
			fontSmoothing: 'antialiased',
			fontSize: '16px',
			'::placeholder': {
			  color: '#aab7c4'
			}
		  },
		  invalid: {
			color: '#fa755a',
			iconColor: '#fa755a'
		  }
		};

		// Create an instance of the card Element.
		var card = elements.create('card', {style: style});

		// Add an instance of the card Element into the `card-element` <div>.
		card.mount('#card-element');
		// Handle real-time validation errors from the card Element.
		card.on('change', function(event) {
		  var displayError = document.getElementById('card-errors');
		  if (event.error) {
			displayError.textContent = event.error.message;
		  } else {
			displayError.textContent = '';
		  }
		});

		// Handle form submission.
		var form = document.getElementById('payment-form');
		form.addEventListener('submit', function(event) {
		  event.preventDefault();

		  stripe.createToken(card).then(function(result) {
			if (result.error) {
			  // Inform the user if there was an error.
			  var errorElement = document.getElementById('card-errors');
			  errorElement.textContent = result.error.message;
			} else {
			  // Send the token to your server.
			  stripeTokenHandler(result.token);
			}
		  });
		});

		// Submit the form with the token ID.
		function stripeTokenHandler(token) {
		  // Insert the token ID into the form so it gets submitted to the server
		  var form = document.getElementById('payment-form');
		  var hiddenInput = document.createElement('input');
		  hiddenInput.setAttribute('type', 'hidden');
		  hiddenInput.setAttribute('name', 'stripeToken');
		  hiddenInput.setAttribute('value', token.id);
		  form.appendChild(hiddenInput);

		  // Submit the form
		  form.submit();
		}
	</script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>