{% load static %}
<style>
  .hello-msg{
      font-size: 18px;
      color: #fff;
      margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg nav-pills navbar-dark bg-info">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/logo.jpeg' %}" width="80" height="80" class="d-inline-block rounded-circle align-top" alt="">
    </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if request.user.is_staff  %}
      <li class="nav-item active">
        <a class="nav-link btn btn-info" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link btn btn-info" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" href="{% url 'student-profile' user.student.id %}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" href="{% url 'student-update' user.student.id %}">Update Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" href="{% url 'contact-form' %}">Contact Us</a>
      </li>
      {% endif %}
    </ul>
  </div>
    <span class="hello-msg">Hello {{ request.user }}</span>
    <span class="hello-msg"><a href="{% url 'logout' %}" class="btn btn-info" style="text-decoration:none;">Logout</a></span>
</nav>